<style>
  #igmetalltable {
    width:0.1%;
    white-space: nowrap;
    border: 0.2em solid #000000;
    text-align: center;
    margin-bottom: 0.1em;
  }

  #igmetalltable thead {
    background-color: #000000;
    border: none;
  }

  #igmetalltable thead tr th,
  #igmetalltable tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
    border: 0.1em solid #000000;
  }

  #igmetalltable tbody tr td:nth-child(1) {
    background-color: #000000;
    font-weight: bold;
    border: 0.1em solid #E3051B;
  }
  #igmetalltable thead tr th {
    border: 0.1em solid #E3051B;
  }
</style>

<table id="igmetalltable">
  <thead>
  <tr>
    <th>Entgeltgruppe</th>
    <th><strong>Stufe A</strong></th>
    <th><strong>Stufe B</strong></th>
    <th><strong>Stufe C</strong></th>
  </tr>
  </thead>
  <tbody>  <tr>
    <td>EG 01</td>
    <td>2.607 €</td>
    <td> </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 02</td>
    <td>2.658 €</td>
    <td>2.702 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 03</td>
    <td>2.791 €</td>
    <td>2.877 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 04</td>
    <td>2.964 €</td>
    <td>3.050 €</td>
    <td>3.244 €</td>
  </tr>
  <tr>
    <td>EG 05</td>
    <td>3.325 €</td>
    <td>3.407 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 06</td>
    <td>3.531 €</td>
    <td>3.654 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 07</td>
    <td>3.808 €</td>
    <td>3.963 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 08</td>
    <td>4.130 €</td>
    <td>4.303 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 09</td>
    <td>4.524 €</td>
    <td>4.746 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 10</td>
    <td>5.003 €</td>
    <td>5.257 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 11</td>
    <td>5.532 €</td>
    <td>5.804 €</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>EG 12</td>
    <td>6.065 €</td>
    <td>6.324 €</td>
    <td>&nbsp;</td>
  </tr>
  </tbody>
</table>
gültig ab 01.05.2024
